.buttons {
  position: relative;
  padding-top: 30px;
  width: 50px;
  text-align: end;
}

.buttons span:hover {
  border: 1px solid #43484d;
  border-radius: 3px;
  background-color: #e1e8ee;
  transform: scale(1.1);
  transition: 1s;
}

.item {
  display: flex;
  padding: 20px 30px;
  height: 120px;
  border-bottom: 1px solid #e1e8ee;
}

.item button[class*="btn"] {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 6px;
  background-color: #e1e8ee;
  cursor: pointer;
}

.image {
  margin-right: 50px;
}

.image img {
  height: 100%;
  width: 130px;
}

.description {
  width: 115px;
  padding-top: 10px;
  margin-right: 60px;
}

.description span {
  display: block;
  color: #43484d;
  font-size: 14px;
  font-weight: 400;
}

.description span:first-child {
  margin-bottom: 5px;
}

.description span:last-child {
  margin-top: 8px;
  font-weight: 300;
  color: #86939e;
}

.quantity {
  padding-top: 20px;
  margin-right: 60px;
}

.quantity input {
  -webkit-appearance: none;
  width: 32px;
  border: none;
  text-align: center;
  color: #43484d;
  font-size: 16px;
  font-weight: 300;
}
